<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="add" method="POST">
        <p>User
            <input name="username" />
        </p>
        <p>Password
            <input name="password" />
        </p>
        <p>Age
            <input name="age" />
        </p>
        <button>Add User</button>
    </form>
</body>

</html>