<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Apple</td>
            <td>3</td>
            <td>12</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Orange</td>
            <td>2</td>
            <td>50</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Strawberry</td>
            <td>6</td>
            <td>24</td>
        </tr>
    </table>
</body>

</html>