<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" type="text/css" rel="stylesheet"/>
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>123</td>
            <td>24</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jack</td>
            <td>234</td>
            <td>25</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jame</td>
            <td>789</td>
            <td>24</td>
        </tr>
    </table>
</body>

</html>